

.title {
    text-align: left;
}

.bodyText {
    text-align: justify;
    color: beige;
    line-height: 1.45;

    margin: 10px;
    padding: 10px;
    height: 180px;
    min-width: 500px;
    box-shadow:0 0 5px black;

    overflow:scroll;
    text-overflow: ellipsis;
    white-space: normal;
}